{% extends 'webdieta/base.html' %}

{% block content %}
  {% load static %}
  <script type="text/javascript" src="{% static "fusioncharts-suite-xt/js/fusioncharts.js" %}"></script>
  <script type="text/javascript" src="{% static "fusioncharts-suite-xt/js/themes/fusioncharts.theme.fusion.js" %}"></script>
  <style>
    /* Remove fonte embaixo do grafico */
    .raphael-group-23-creditgroup {
      display:  none;
    }
  </style>

  <h2>Olá, {{ user.first_name }} {{ user.last_name }}</h2>

  <div id="chart-1" style="height:75vh;margin: 2%;">{{ output|safe }}</div>

{% endblock %}
