{% extends 'webdieta/base.html' %}

{% block content %}

  <h2>Registro de peso do (a) {{ user.first_name }} {{ user.last_name }}</h2>
  <div align='center'>

    <form class="pure-form pure-form-stacked" method="post" action="{% url 'registrarPeso' %}">
      {% csrf_token %}

      {% for error in form.data_pesagem.errors %}
        {{ error }}
      {% endfor %}

      {{ erro }}

      <table>
          <tbody>
            <tr>
              <th><label for="id_{{form.peso.html_name}}">{{ form.peso.label }}:</label></th>
              <td>
                <input type="number" name="{{form.peso.html_name}}"
                  step="any" required="True" id="id_{{form.peso.html_name}}">
                </td>
            </tr>
            <tr>
              <th>
                <label for="id_{{form.data_pesagem.html_name}}">{{ form.data_pesagem.label }}:</label>
              </th>
              <td>
                <input type="date" name="{{form.data_pesagem.html_name}}"
                        required="True" id="id_{{form.data_pesagem.html_name}}">
              </td>
            </tr>
           <tr>
              <td></td>
              <td>
                <a href="../dashboard" class="pure-button">Cancelar</a>
                <input class="pure-button pure-button-primary" type="submit" value="Registrar">
              </td>
          </tr>
       </tbody>
     </table>
     </form>

  </div>
{% endblock %}
