<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/pure-min.css" %}">

    <title>WebDieta</title>
    <style>
      div {
          margin: 7%;
      }
      ul.errorlist {
        display: block;
        color: #666;
        font-size: 0.875em;
      }
      body {
        font-family: 'Ubuntu', sans-serif;
        color: #606060;
      }
    </style>
  </head>

  <body>

    <div align='center'>

      <form class="pure-form pure-form-stacked" method="post" action="{% url 'cadastrar' %}">
        {% csrf_token %}

        <table>
            {{ form.as_table }}
             <tr>
                <td></td>
                <td>
                  <a href="../login" class="pure-button">Cancelar</a>
                  <input class="pure-button pure-button-primary" type="submit" value="Cadastrar" />
                </td>
            </tr>
         </table>
       </form>

    </div>

  </body>

</html>
