<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>WebDieta</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
  </head>

  <body>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">

              {% if form.errors %}
              <p>Você digitou algo errado!</p>
              {% endif %}

              {% if next %}
              <p>Você não pode acessar essa página.</p>

              <form class="pure-form pure-form-stacked" action="{% url 'login' %}?next={{next}}" method="post" >
              {%else%}
              <form class="pure-form pure-form-stacked" method="post" action="{% url 'login' %}">
              {% endif %}

              <fieldset>
                {% csrf_token %}

                <div align='center'>
                  <label for="email">Usuário:</label>
                  {{ form.username }}
                  <label for="password">Senha:</label>
                  {{ form.password }}
                  <a href="../cadastrar" class="pure-button">Cadastro</a>
                  <input class="pure-button pure-button-primary" type="submit" = value="Entrar">
                </div>


                <input type="hidden" name="next" value="{{ next }}"
              </fieldset>
  </form>
  </div>
</div>
</div>
</body>

</html>
