<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>WebDieta</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
  </head>

  <body>
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="../dashboard" class="pure-menu-link">Dashboard</a></li>
        <li class="pure-menu-item"><a href="../dieta" class="pure-menu-link">Dieta</a></li>
        <li class="pure-menu-item"><a href="../logout" class="pure-menu-link">Sair</a></li>
    </ul>
    </div>
    
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>
