<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>WebDieta</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
    <style>
      body {
        font-family: 'Ubuntu', sans-serif;
        color: #606060;
      }
    </style>
  </head>

  <body>
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="../dashboard" class="pure-menu-link">Dashboard</a></li>
        <li class="pure-menu-item"><a href="../dieta" class="pure-menu-link">Dieta</a></li>
        <li class="pure-menu-item"><a href="../logout/?next=/login/" class="pure-menu-link">Sair</a></li>
    </ul>
    </div>

    <div class="container" style="height:100vh;margin:5%;">
      {% block content %}
      {% endblock %}
    </div>
</body>

</html>
